@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }
  body { @apply font-sans text-gray-800 antialiased; }
}

@layer utilities {
  .font-500 { font-weight: 500; }
  .font-600 { font-weight: 600; }
  .font-700 { font-weight: 700; }
}